html, body, .sokoban-application, .sokoban {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("../../assets/ramirez.png");
  background-repeat: no-repeat;
  background-position: 50%;

  h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
  }
}

.sokoban {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ultimate-sokoban-header {
  text-align: center;
  font-size: 72px;
}

.sokoban-world-canvas {
  flex: 1 1;
}
